html{
    /* background-image: url(images/bgimg.jpg); */
    
    background-image: white;
   background-repeat: no-repeat;
   background-size:cover;
}
.signupbody, .loginbody, .createbody, .editbody{

    background-repeat: no-repeat;
    background-size:cover;
    padding-top: 10px; 
    padding-bottom:40px;
    max-width: auto;
    
 
    
}
.createbody, .editbody{
    padding: 0;
}

.createbody .card,.editbody .card{
    min-width: 1000px;
    
}
.signup {
    border: 1px solid white;
    
    color: white;
    padding: 6px 15px;
    font-size: 16px;
    cursor: pointer;
  }
.sign {
    border-color: white;
    color: white;
  }
  
  .sign:hover {
    background-color: white;
    color: black;
  }
input,label{
    display: block;
}
  

.forgot a {
    color: #777777;
    font-size: 14px;
    text-decoration: underline;
    display: inline-block;
    margin-bottom: 10px;
  }

 .form-control {
    background: #f7f7f7;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    
  } 
  .loginbody .form-group{
      margin: 30px 0 30px 0;
  }
  .loginbody .card {
      max-width: 90%;
      margin-left: 50px;
      margin-right: 50px;
     
  }
   .card-body{
      padding: 40px 60px;
      
  }
  h1 {
    font-family: 'Abril Fatface', cursive;
}

.panel{
    margin-bottom: 20px;
}
.panel-heading {
    padding: 10px 4px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
small{
    font-weight: 400;
    font-size: medium;
    line-height: 1;
    color: #777;
}

input {
    display: inline-block;
   
}
img {
    max-width: 100%;
    max-height: 100%;
    
  }
